<a href="https://colab.research.google.com/github/Vichukrish/Manibharathi/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
marvel_super_hero = "iron man"
print(marvel_super_hero)

iron man

In [ ]:
A=25
B=35
C=A+B
print(C)

60

In [ ]:
#list can have multiple data types
my_list = [2,3,4,5,'maths','false']
print(my_list)

[2, 3, 4, 5, 'maths', 'false']

In [ ]:
print(len(my_list))

6

In [ ]:
tuple_1 = (2,3,4,5)
print(tuple_1)
type(tuple_1)

(2, 3, 4, 5)

tuple

In [ ]:
tuple_2 = (1,2,3.5,'data analytics',True)
print(tuple_2)

(1, 2, 3.5, 'data analytics', True)

In [ ]:
my_list = [3,4,5,6]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [ ]:
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [ ]:
list_5 = [3,4,5,6,7]
x=set(list_5)
print(x)

{3, 4, 5, 6, 7}

In [ ]:
set_3 = {1,1,2,3,4,5}
print(set_3)

{1, 2, 3, 4, 5}

In [ ]:
my_dictionary = {'name':'mani','age':23,'country':'England'}
print(my_dictionary)
type(my_dictionary)

{'name': 'mani', 'age': 23, 'country': 'England'}

dict

In [ ]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

mani
23
England

In [ ]:
dictionary_2 = {'name':'mani','age':23,'country':'England'}
print(dictionary_2)

{'name': 'mani', 'age': 23, 'country': 'England'}

In [ ]:
dictionary_2 = {'name':'john','age':45,'country':'India'}
print(dictionary_2)
print(dictionary_2.keys())
print(dictionary_2.values())

{'name': 'john', 'age': 45, 'country': 'India'}
dict_keys(['name', 'age', 'country'])
dict_values(['john', 45, 'India'])

In [ ]:
import keyword
print("the set of keywords in this version is:")
print(keyword.kwlist)

the set of keywords in this version is:
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
a=45
b=67
sum=a+b
print(sum)

112

In [ ]:
a=56
b=6
diff=a-b
print(diff)

50

In [ ]:
s=4
e=10
mul=s*e
print(mul)

40

In [ ]:
r=45
b=5
div=r/b
print(div)

9.0

In [ ]:
x=5
y=14

z=[2,3,4,5,5,7,8,10,14,16]
print(x in z)
print(y in z)

True
True

In [ ]:
a=30
b=50

if (a>b):
  print('a is the greater number')
else:
  print('b is the gratest number')

b is the gratest number

In [ ]:
for i in range(7):laptop_price = int(input('Enter the price of the laptop : '))

Enter the price of the laptop : 3
Enter the price of the laptop : 6
Enter the price of the laptop : 7
Enter the price of the laptop : 8
Enter the price of the laptop : 9
Enter the price of the laptop : 9
Enter the price of the laptop : 7